/* line 1, ../sass/children.sass */
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/* line 4, ../sass/children.sass */
.container {
  background: url(../images/bg.jpg) 0 0 no-repeat;
  background-attachment: fixed;
}
