/* line 2, ../sass/children.sass */
header .header-top {
  position: relative;
  width: 100%;
}

/* line 22, ../sass/children.sass */
.st-menu-block {
  width: 50%;
  background: #fff;
}

/* line 26, ../sass/children.sass */
.blocks {
  margin: 0px -7px;
}
/* line 28, ../sass/children.sass */
.blocks h2.head-block {
  color: #ab7f35;
  font-family: "Segoe UI";
  font-size: 18px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 34px;
}
/* line 35, ../sass/children.sass */
.blocks .wrap-block {
  display: inline-block;
  width: 33.33%;
  margin-bottom: 40px;
  vertical-align: top;
}
/* line 40, ../sass/children.sass */
.blocks .wrap-block .block {
  margin: 0px 7px;
  cursor: pointer;
}
/* line 43, ../sass/children.sass */
.blocks .wrap-block .block .title {
  font-family: "Segoe UI";
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}
/* line 48, ../sass/children.sass */
.blocks .wrap-block .block img {
  width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
