@import "http://webfonts.ru/import/play.css";
/* line 14, ../sass/main.sass */
html, body {
  font-family: "Play";
  min-height: 100%;
}

/* line 18, ../sass/main.sass */
.wrap-container-box {
  overflow-y: auto;
  max-height: 100%;
}

/* line 22, ../sass/main.sass */
.wrap-video {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 27, ../sass/main.sass */
.wrap-video .video {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 33, ../sass/main.sass */
header .header-top {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1;
}
/* line 38, ../sass/main.sass */
header .wrap-head1 {
  background: #e9ebec;
  border-bottom: #dcdcdc solid 1px;
}
/* line 41, ../sass/main.sass */
header .wrap-head1 .head1 {
  width: 100%;
  max-width: 865px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
/* line 47, ../sass/main.sass */
header .wrap-head1 .head1 ul {
  height: 50px;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  text-align: justify;
}
/* line 53, ../sass/main.sass */
header .wrap-head1 .head1 ul li {
  display: inline-block;
  color: #000;
  font-size: 14px;
}
/* line 57, ../sass/main.sass */
header .wrap-head1 .head1 ul li span {
  color: #c28a1d;
}
/* line 59, ../sass/main.sass */
header .wrap-head1 .head1 ul li.last {
  width: 100%;
}
/* line 61, ../sass/main.sass */
header .head2 {
  width: 100%;
  height: 130px;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0px 47px 0px 47px;
}
/* line 67, ../sass/main.sass */
header .head2 .logo {
  display: table-cell;
  height: 130px;
  width: 180px;
  vertical-align: middle;
}
/* line 72, ../sass/main.sass */
header .head2 .logo a {
  display: inline-block;
  height: 101px;
  width: 180px;
  background: url("../images/aqua-logo.png") no-repeat;
  border: 0px;
}
/* line 78, ../sass/main.sass */
header .head2 div.right {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 29px;
}
/* line 83, ../sass/main.sass */
header .head2 div.right div.top {
  text-align: justify;
  padding-top: 22px;
}
/* line 86, ../sass/main.sass */
header .head2 div.right div.top div {
  display: inline-block;
}
/* line 88, ../sass/main.sass */
header .head2 div.right div.top div.last {
  width: 100%;
}
/* line 90, ../sass/main.sass */
header .head2 div.right div.top .phone, header .head2 div.right div.top .email {
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}
/* line 94, ../sass/main.sass */
header .head2 div.right div.top button {
  display: inline-block;
  height: 30px;
  padding: 0px 15px;
  color: #fff;
  font-size: 16px;
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #002d66;
  border: 0px;
}
/* line 103, ../sass/main.sass */
header .head2 div.right div.bottom {
  padding-top: 3px;
}
/* line 106, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul {
  padding: 0;
  margin: 0;
  text-align: justify;
}
/* line 110, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li {
  display: inline-block;
}
/* line 112, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li.last {
  width: 100%;
}
/* line 114, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 0px;
  text-shadow: 1px 1px 1px black;
}
/* line 120, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li a:hover, header .head2 div.right div.bottom .menu ul li a:focus, header .head2 div.right div.bottom .menu ul li a:active {
  color: #fff;
  background: none;
}
/* line 124, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li.current a {
  color: #fff;
}
/* line 127, ../sass/main.sass */
header .background-video {
  height: 702px;
  margin-top: 51px;
}
/* line 130, ../sass/main.sass */
header .background-video .video {
  height: 702px;
  background-size: cover;
}
/* line 133, ../sass/main.sass */
header .background-video .grid {
  position: relative;
  width: 1070px;
  margin: -572px auto 0px auto;
}
/* line 137, ../sass/main.sass */
header .background-video .grid .wrap-box {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
  margin-bottom: 14px;
}
/* line 142, ../sass/main.sass */
header .background-video .grid .wrap-box .box {
  margin: 0px 7px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 147, ../sass/main.sass */
header .background-video .grid .wrap-box .box a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000000;
  overflow: hidden;
  margin-bottom: -6px;
  background: #000;
}
/* line 155, ../sass/main.sass */
header .background-video .grid .wrap-box .box a:focus {
  overflow: hidden;
}
/* line 157, ../sass/main.sass */
header .background-video .grid .wrap-box .box img {
  visibility: hidden;
}
/* line 159, ../sass/main.sass */
header .background-video .grid .wrap-box .box .name {
  position: relative;
  font-size: 14px;
  padding: 10px 15px 12px 15px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 167, ../sass/main.sass */
header .container {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* line 171, ../sass/main.sass */
header .container .menu-left {
  width: 268px;
  position: fixed;
  padding: 30px;
  background: #fff;
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
  margin: 20px auto 0 auto;
  left: -886px;
  right: 0px;
}
/* line 180, ../sass/main.sass */
header .container .menu-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 184, ../sass/main.sass */
header .container .menu-left li {
  margin-bottom: 20px;
}
/* line 186, ../sass/main.sass */
header .container .menu-left li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
/* line 190, ../sass/main.sass */
header .container .menu-left li a:hover {
  color: #c28a1d;
}
/* line 193, ../sass/main.sass */
header .container .menu-left li.current > a {
  color: #c28a1d;
}
/* line 198, ../sass/main.sass */
header .container .menu-left > ul > li > ul {
  margin-top: 20px;
}
/* line 201, ../sass/main.sass */
header .container .menu-left > ul > li > ul > li > a {
  color: #557183;
}
/* line 204, ../sass/main.sass */
header .container .menu-left > ul.current > a {
  color: #c28a1d;
}
/* line 207, ../sass/main.sass */
header .content {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* line 211, ../sass/main.sass */
header .content .wrap_head {
  height: 120px;
  line-height: 120px;
  background: #fff;
}
/* line 215, ../sass/main.sass */
header .content .wrap_head .head {
  max-width: 1070px;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0px 47px 0px 272px;
}
/* line 222, ../sass/main.sass */
header .content .wrap_text {
  background: #fff;
  overflow-y: auto;
}
/* line 225, ../sass/main.sass */
header .content .wrap_text .text {
  max-width: 1070px;
  margin: 0 auto;
  padding: 40px 47px 40px 272px;
}
/* line 229, ../sass/main.sass */
header .content .footer {
  background: #e5e5e5;
  height: 80px;
}
/* line 234, ../sass/main.sass */
header .content .breadcrumbs ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
/* line 238, ../sass/main.sass */
header .content .breadcrumbs ul li {
  display: inline-block;
}
/* line 240, ../sass/main.sass */
header .content .breadcrumbs ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
/* line 244, ../sass/main.sass */
header .content .breadcrumbs ul li span {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
/* line 248, ../sass/main.sass */
header .content .breadcrumbs ul li span.line {
  padding: 0px 5px;
}

/* line 253, ../sass/main.sass */
section .block0 {
  background: #fff;
  text-align: center;
}
/* line 256, ../sass/main.sass */
section .block0 h2 {
  color: #000;
  font-size: 16px;
  padding: 28px 0 66px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 262, ../sass/main.sass */
section .block0 .grid {
  position: relative;
  width: 1150px;
  margin: 0px auto 0px auto;
}
/* line 266, ../sass/main.sass */
section .block0 .grid .wrap-box {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-bottom: 28px;
}
/* line 271, ../sass/main.sass */
section .block0 .grid .wrap-box .box {
  background: #fff;
  margin: 0px 40px;
  overflow: initial;
}
/* line 275, ../sass/main.sass */
section .block0 .grid .wrap-box .box .name {
  color: #000;
  font-size: 16px;
  padding: 80px 0 28px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 281, ../sass/main.sass */
section .block0 .grid .wrap-box .box .name.last {
  padding-top: 70px;
}
/* line 283, ../sass/main.sass */
section .block1 {
  background: #e5e5e5;
  text-align: center;
}
/* line 286, ../sass/main.sass */
section .block1 h2 {
  color: #000;
  font-size: 16px;
  padding: 28px 0 28px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 292, ../sass/main.sass */
section .block1 .grid {
  position: relative;
  width: 1070px;
  margin: 0px auto 0px auto;
}
/* line 296, ../sass/main.sass */
section .block1 .grid .wrap-box {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 28px;
}
/* line 301, ../sass/main.sass */
section .block1 .grid .wrap-box .box {
  height: 260px;
  background: #fff;
  margin: 0px 14px;
  overflow: initial;
}
/* line 306, ../sass/main.sass */
section .block1 .grid .wrap-box .box .wrap-img {
  display: table-cell;
  height: 218px;
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
/* line 313, ../sass/main.sass */
section .block1 .grid .wrap-box .box .description {
  display: table-cell;
  height: 218px;
  width: 60%;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  padding-right: 40px;
  vertical-align: middle;
}
/* line 322, ../sass/main.sass */
section .block1 .grid .wrap-box .box .name {
  position: relative;
  font-size: 14px;
  padding: 10px 15px 0px 15px;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 330, ../sass/main.sass */
section .block2 {
  position: relative;
  text-align: center;
  padding-bottom: 1px;
}
/* line 334, ../sass/main.sass */
section .block2 .video {
  height: 405px;
  margin-bottom: -405px;
}
/* line 337, ../sass/main.sass */
section .block2 h2 {
  color: #000;
  font-size: 16px;
  padding: 28px 0 28px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 343, ../sass/main.sass */
section .block2 .reviews {
  position: static;
  margin: 65px 130px;
}
/* line 346, ../sass/main.sass */
section .block2 .reviews .wrap-photo {
  display: table-cell;
  width: 100px;
  vertical-align: top;
  padding-right: 20px;
}
/* line 351, ../sass/main.sass */
section .block2 .reviews .wrap-photo .photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #fff url("../images/gazprom.jpg") 0 0 no-repeat;
  background-size: contain;
}
/* line 357, ../sass/main.sass */
section .block2 .reviews .text {
  display: table-cell;
  vertical-align: top;
}
/* line 360, ../sass/main.sass */
section .block2 .reviews p {
  color: #000;
  font-size: 16px;
}
/* line 363, ../sass/main.sass */
section .block2 .reviews strong {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
}
/* line 367, ../sass/main.sass */
section .block2 .reviews .slick-track {
  position: static;
  text-align: left;
}
/* line 370, ../sass/main.sass */
section .block2 .reviews .slick-list {
  position: static;
  width: 810px;
  margin: 0 auto;
}
/* line 374, ../sass/main.sass */
section .block2 .reviews .slick-next, section .block2 .reviews .slick-prev {
  position: absolute;
  height: 60px;
  width: 32px;
  border: 0;
  font-size: 0;
  top: 50%;
  margin-top: -30px;
}
/* line 382, ../sass/main.sass */
section .block2 .reviews .slick-next:focus, section .block2 .reviews .slick-prev:focus {
  outline: 0;
}
/* line 384, ../sass/main.sass */
section .block2 .reviews .slick-next {
  background: url("../images/reviews_arrow.png") -32px 0 no-repeat;
  right: 130px;
}
/* line 387, ../sass/main.sass */
section .block2 .reviews .slick-prev {
  background: url("../images/reviews_arrow.png") 0 0 no-repeat;
  left: 130px;
}

/* line 393, ../sass/main.sass */
footer {
  text-align: center;
}
/* line 395, ../sass/main.sass */
footer .wrap-footer1 {
  height: 275px;
  line-height: 275px;
  background: #e0ebef url("../images/footer-bg.jpg") top right no-repeat;
  background-size: contain;
}
/* line 400, ../sass/main.sass */
footer .wrap-footer1 .footer1 {
  display: inline-block;
  height: 107px;
  line-height: initial;
}
/* line 404, ../sass/main.sass */
footer .wrap-footer1 .footer1 .head {
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* line 409, ../sass/main.sass */
footer .wrap-footer1 .footer1 a {
  display: inline-block;
  background: #002d66;
  color: #fff;
  font-size: 24px;
  height: 45px;
  line-height: 45px;
  padding: 0px 24px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-transform: uppercase;
}
/* line 419, ../sass/main.sass */
footer .wrap-footer1 .footer1 a:hover {
  color: #fff;
}
/* line 421, ../sass/main.sass */
footer .wrap-footer1 .footer1 span {
  display: inline-block;
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px 25px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
}
/* line 430, ../sass/main.sass */
footer .footer2 {
  background: #e5e5e5;
  height: 80px;
}

/* line 435, ../sass/main.sass */
#undefined-sticky-wrapper {
  position: absolute;
}

/* line 438, ../sass/main.sass */
#top-link a {
  display: block;
  width: 100px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #cbcbcb;
  text-decoration: none !important;
}

/* line 451, ../sass/main.sass */
#top-link {
  cursor: pointer;
  top: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 999;
  width: 128px;
  opacity: 0.5;
  background: url("../images/top-page.png") center center no-repeat;
}

/* line 461, ../sass/main.sass */
#top-link:hover {
  opacity: 1;
}
