@import "http://webfonts.ru/import/play.css";
/* line 14, ../sass/main.sass */
html, body {
  font-family: "Play";
  min-height: 100%;
}

/* line 18, ../sass/main.sass */
.wrap-container-box {
  position: relative;
  height: 100%;
  overflow-y: auto;
  max-height: 100%;
}

/* line 24, ../sass/main.sass */
.wrap-video {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    margin-top: 181px;
}
/* line 29, ../sass/main.sass */
.wrap-video .video {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 35, ../sass/main.sass */
header .header-top {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1;
}
/* line 40, ../sass/main.sass */
header .wrap-head1 {
  background: #e9ebec;
  border-bottom: #dcdcdc solid 1px;
}
/* line 43, ../sass/main.sass */
header .wrap-head1 .head1 {
  width: 100%;
  max-width: 865px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
/* line 49, ../sass/main.sass */
header .wrap-head1 .head1 ul {
  height: 50px;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  text-align: justify;
}
/* line 55, ../sass/main.sass */
header .wrap-head1 .head1 ul li {
  display: inline-block;
  color: #000;
  font-size: 14px;
}
/* line 59, ../sass/main.sass */
header .wrap-head1 .head1 ul li a {
  color: #000;
  text-decoration: none;
}
/* line 62, ../sass/main.sass */
header .wrap-head1 .head1 ul li span {
  color: #c28a1d;
}
/* line 64, ../sass/main.sass */
header .wrap-head1 .head1 ul li.last {
  width: 100%;
}
/* line 66, ../sass/main.sass */
header .head2 {
  width: 100%;
  height: 130px;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0px 47px 0px 47px;
}
/* line 72, ../sass/main.sass */
header .head2 .logo {
  display: table-cell;
  height: 130px;
  width: 180px;
  vertical-align: middle;
}
/* line 77, ../sass/main.sass */
header .head2 .logo a {
  display: inline-block;
  height: 103px;
  width: 180px;
  background: url("../images/aqua-logo.png") no-repeat;
  border: 0px;
}
/* line 83, ../sass/main.sass */
header .head2 div.right {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 29px;
}
/* line 88, ../sass/main.sass */
header .head2 div.right div.top {
  text-align: justify;
  padding-top: 22px;
}
/* line 91, ../sass/main.sass */
header .head2 div.right div.top div {
  display: inline-block;
}
/* line 93, ../sass/main.sass */
header .head2 div.right div.top div.last {
  width: 100%;
}
/* line 95, ../sass/main.sass */
header .head2 div.right div.top .phone, header .head2 div.right div.top .email {
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
}
/* line 99, ../sass/main.sass */
header .head2 div.right div.top button {
  display: inline-block;
  height: 30px;
  padding: 0px 15px;
  color: #fff;
  font-size: 16px;
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  border: #fff solid 1px;
}
header .head2 div.right div.top button:focus{
    outline: 0;
}
/* line 108, ../sass/main.sass */
header .head2 div.right div.bottom {
  padding-top: 3px;
}
/* line 111, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul {
  padding: 0;
  margin: 0;
  text-align: justify;
}
/* line 115, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li {
  display: inline-block;
}
/* line 117, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li.last {
  width: 100%;
}
/* line 119, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 0px;
  text-shadow: 1px 1px 1px black;
}
/* line 125, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li a:hover, header .head2 div.right div.bottom .menu ul li a:focus, header .head2 div.right div.bottom .menu ul li a:active {
  color: #fff;
  background: none;
}
/* line 129, ../sass/main.sass */
header .head2 div.right div.bottom .menu ul li.current a {
  color: #fff;
}
/* line 132, ../sass/main.sass */
header .background-video, header .block-portfolio {
  height: 702px;
  margin-top: 51px;
}
/* line 135, ../sass/main.sass */
header .background-video .video, header .block-portfolio .video {
  height: 702px;
  background-size: cover;
}
/* line 138, ../sass/main.sass */
header .background-video .grid, header .block-portfolio .grid {
  position: relative;
  max-width: 1070px;
  margin: -572px auto 0px auto;
  padding: 0px 15px;
}
/* line 143, ../sass/main.sass */
header .background-video .grid .wrap-box, header .block-portfolio .grid .wrap-box {
  display: inline-block;
  width: 33.33%;
  vertical-align: top;
  margin-bottom: 14px;
}
/* line 148, ../sass/main.sass */
header .background-video .grid .wrap-box .box, header .block-portfolio .grid .wrap-box .box {
  margin: 0px 7px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
/* line 153, ../sass/main.sass */
header .background-video .grid .wrap-box .box a, header .block-portfolio .grid .wrap-box .box a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #000000;
  overflow: hidden;
  margin-bottom: -6px;
  background: #000;
}
/* line 161, ../sass/main.sass */
header .background-video .grid .wrap-box .box a:focus, header .block-portfolio .grid .wrap-box .box a:focus {
  overflow: hidden;
}
/* line 163, ../sass/main.sass */
header .background-video .grid .wrap-box .box img, header .block-portfolio .grid .wrap-box .box img {
  visibility: hidden;
}
/* line 165, ../sass/main.sass */
header .background-video .grid .wrap-box .box .name, header .block-portfolio .grid .wrap-box .box .name {
  position: relative;
  font-size: 14px;
  padding: 10px 15px 12px 15px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 173, ../sass/main.sass */
header .block-portfolio {
  height: auto;
  margin: 0px -25px;
}
/* line 176, ../sass/main.sass */
header .block-portfolio .grid {
  position: relative;
  width: auto;
  margin: 0px auto 0px auto;
}
/* line 182, ../sass/main.sass */
header .block-portfolio .grid .wrap-box .box img {
  visibility: visible;
}
/* line 184, ../sass/main.sass */
header .container {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* line 188, ../sass/main.sass */
header .container .menu-left {
  width: 268px;
  position: fixed;
  padding: 13px 18px 3px 30px;
  background: #fff;
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
  margin: 20px auto 0 auto;
  left: -904px;
  right: 0px;
}
@media (max-width: 1200px) {
  /* line 188, ../sass/main.sass */
  header .container .menu-left {
    width: 225px;
    left: 20px;
    right: initial;
  }
}
/* line 201, ../sass/main.sass */
header .container .menu-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 205, ../sass/main.sass */
header .container .menu-left li {
  margin-bottom: 11px;
}
/* line 207, ../sass/main.sass */
header .container .menu-left li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
/* line 211, ../sass/main.sass */
header .container .menu-left li a:hover,
header .container .menu-left li a.current{
  color: #c28a1d;
}
/* line 214, ../sass/main.sass */
header .container .menu-left li.current > a {
  color: #c28a1d;
}
/* line 219, ../sass/main.sass */
header .container .menu-left > ul > li > ul {
  margin-top: 10px;
}
/* line 222, ../sass/main.sass */
header .container .menu-left > ul > li > ul > li > a {
  color: #557183;
}
/* line 225, ../sass/main.sass */
header .container .menu-left > ul.current > a {
  color: #c28a1d;
}
/* line 228, ../sass/main.sass */
header .content, header .content_portfolio {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: #fff;
}
/* line 233, ../sass/main.sass */
header .content .wrap_head, header .content_portfolio .wrap_head {
  padding-top: 29px;
  background: #fff; 
}
/* line 236, ../sass/main.sass */
header .content .wrap_head .head, header .content_portfolio .wrap_head .head {
  max-width: 1070px;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0px 47px 0px 254px;
}
h1{
    color: #002d66;
    font-size: 18px;
    text-transform: uppercase;
}
/* line 243, ../sass/main.sass */
header .content .wrap_text, header .content .wrap_block_portfolio, header .content_portfolio .wrap_text, header .content_portfolio .wrap_block_portfolio {
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 247, ../sass/main.sass */
header .content .wrap_text .text, header .content .wrap_text .inner_block_portfolio, header .content .wrap_block_portfolio .text, header .content .wrap_block_portfolio .inner_block_portfolio, header .content_portfolio .wrap_text .text, header .content_portfolio .wrap_text .inner_block_portfolio, header .content_portfolio .wrap_block_portfolio .text, header .content_portfolio .wrap_block_portfolio .inner_block_portfolio {
  max-width: 1070px;
  margin: 0 auto;
  padding: 40px 47px 40px 254px;
}
/* line 251, ../sass/main.sass */
header .content .wrap_text .text.inner_block_portfolio, header .content .wrap_text .inner_block_portfolio.inner_block_portfolio, header .content .wrap_block_portfolio .text.inner_block_portfolio, header .content .wrap_block_portfolio .inner_block_portfolio.inner_block_portfolio, header .content_portfolio .wrap_text .text.inner_block_portfolio, header .content_portfolio .wrap_text .inner_block_portfolio.inner_block_portfolio, header .content_portfolio .wrap_block_portfolio .text.inner_block_portfolio, header .content_portfolio .wrap_block_portfolio .inner_block_portfolio.inner_block_portfolio {
  padding: 40px 47px 40px 47px;
}
/* line 253, ../sass/main.sass */
header .content .footer, header .content_portfolio .footer {
  background: #e5e5e5;
  height: 80px;
}
/* line 256, ../sass/main.sass */
header .content .wrap_block_portfolio, header .content_portfolio .wrap_block_portfolio {
  overflow: initial;
}
/* line 259, ../sass/main.sass */
header .content .breadcrumbs ul, header .content_portfolio .breadcrumbs ul {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}
/* line 263, ../sass/main.sass */
header .content .breadcrumbs ul li, header .content_portfolio .breadcrumbs ul li {
  display: inline-block;
}
/* line 265, ../sass/main.sass */
header .content .breadcrumbs ul li a, header .content_portfolio .breadcrumbs ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}portfolio
/* line 269, ../sass/main.sass */
header .content .breadcrumbs ul li span, header .content_portfolio .breadcrumbs ul li span {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
/* line 273, ../sass/main.sass */
header .content .breadcrumbs ul li span.line, header .content_portfolio .breadcrumbs ul li span.line {
  padding: 0px 5px;
}

/* line 278, ../sass/main.sass */
section .block0 {
  background: #fff;
  text-align: center;
}
/* line 281, ../sass/main.sass */
section .block0 h2 {
  color: #000;
  font-size: 16px;
  padding: 28px 0 66px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 287, ../sass/main.sass */
section .block0 .grid {
  position: relative;
  max-width: 1150px;
  margin: 0px auto 0px auto;
  padding: 0px 15px;
}
/* line 292, ../sass/main.sass */
section .block0 .grid .wrap-box {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  margin-bottom: 28px;
}
/* line 297, ../sass/main.sass */
section .block0 .grid .wrap-box .box {
  background: #fff;
  margin: 0px 40px;
  overflow: initial;
}
/* line 301, ../sass/main.sass */
section .block0 .grid .wrap-box .box .name {
  color: #000;
  font-size: 16px;
  padding: 80px 0 28px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 307, ../sass/main.sass */
section .block0 .grid .wrap-box .box .name.last {
  padding-top: 70px;
}
@media (max-width: 1200px) {
  /* line 301, ../sass/main.sass */
  section .block0 .grid .wrap-box .box .name {
    font-size: 12px;
  }
}
/* line 311, ../sass/main.sass */
section .block1 {
  background: #e5e5e5;
  text-align: center;
}
/* line 314, ../sass/main.sass */
section .block1 h2 {
  color: #000;
  font-size: 16px;
  padding: 28px 0 28px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 320, ../sass/main.sass */
section .block1 .grid {
  position: relative;
  max-width: 1070px;
  margin: 0px auto 0px auto;
}
/* line 324, ../sass/main.sass */
section .block1 .grid .wrap-box {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin-bottom: 28px;
}
/* line 329, ../sass/main.sass */
section .block1 .grid .wrap-box .box {
  height: 260px;
  background: #fff;
  margin: 0px 14px;
  overflow: initial;
}
/* line 334, ../sass/main.sass */
section .block1 .grid .wrap-box .box .wrap-img {
  display: table-cell;
  height: 218px;
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
/* line 341, ../sass/main.sass */
section .block1 .grid .wrap-box .box .description {
  display: table-cell;
  height: 218px;
  width: 60%;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  padding-right: 40px;
  vertical-align: middle;
}
/* line 350, ../sass/main.sass */
section .block1 .grid .wrap-box .box .name {
  position: relative;
  font-size: 14px;
  padding: 10px 15px 0px 15px;
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
}
/* line 358, ../sass/main.sass */
section .block2 {
  position: relative;
  text-align: center;
  padding-bottom: 1px;
}
/* line 362, ../sass/main.sass */
section .block2 .video {
  height: 405px;
  margin-bottom: -405px;
}
/* line 365, ../sass/main.sass */
section .block2 h2 {
  color: #000;
  font-size: 16px;
  padding: 28px 0 28px 0;
  margin: 0;
  text-transform: uppercase;
}
/* line 371, ../sass/main.sass */
section .block2 .reviews {
  position: static;
  margin: 65px 130px;
}
/* line 374, ../sass/main.sass */
section .block2 .reviews .wrap-photo {
  display: table-cell;
  width: 100px;
  vertical-align: top;
  padding-right: 20px;
}
/* line 379, ../sass/main.sass */
section .block2 .reviews .wrap-photo .photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: #fff url("../images/gazprom.jpg") 0 0 no-repeat;
  background-size: contain;
}
/* line 385, ../sass/main.sass */
section .block2 .reviews .text {
  display: table-cell;
  vertical-align: top;
}
/* line 388, ../sass/main.sass */
section .block2 .reviews p {
  color: #000;
  font-size: 16px;
}
/* line 391, ../sass/main.sass */
section .block2 .reviews strong {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
}
/* line 395, ../sass/main.sass */
section .block2 .reviews .slick-track {
  position: static;
  text-align: left;
}
/* line 398, ../sass/main.sass */
section .block2 .reviews .slick-list {
  position: static;
  width: 810px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  /* line 398, ../sass/main.sass */
  section .block2 .reviews .slick-list {
    width: 700px;
  }
}
/* line 404, ../sass/main.sass */
section .block2 .reviews .slick-next, section .block2 .reviews .slick-prev {
  position: absolute;
  height: 60px;
  width: 32px;
  border: 0;
  font-size: 0;
  top: 50%;
  margin-top: -30px;
}
/* line 412, ../sass/main.sass */
section .block2 .reviews .slick-next:focus, section .block2 .reviews .slick-prev:focus {
  outline: 0;
}
/* line 414, ../sass/main.sass */
section .block2 .reviews .slick-next {
  background: url("../images/reviews_arrow.png") -32px 0 no-repeat;
  right: 130px;
}
@media (max-width: 1200px) {
  /* line 414, ../sass/main.sass */
  section .block2 .reviews .slick-next {
    right: 30px;
  }
}
/* line 419, ../sass/main.sass */
section .block2 .reviews .slick-prev {
  background: url("../images/reviews_arrow.png") 0 0 no-repeat;
  left: 130px;
}
@media (max-width: 1200px) {
  /* line 419, ../sass/main.sass */
  section .block2 .reviews .slick-prev {
    left: 30px;
  }
}

/* line 427, ../sass/main.sass */
footer {
  text-align: center;
}
/* line 429, ../sass/main.sass */
footer .wrap-footer1 {
  height: 275px;
  line-height: 315px;
  background: #e0ebef url("../images/footer-bg.jpg") top right no-repeat;
  background-size: contain;
}
@media (max-width: 1200px) {
  /* line 429, ../sass/main.sass */
  footer .wrap-footer1 {
    background-size: cover;
  }
}
/* line 436, ../sass/main.sass */
footer .wrap-footer1 .footer1 {
  display: inline-block;
  height: 107px;
  line-height: initial;
}
/* line 440, ../sass/main.sass */
footer .wrap-footer1 .footer1 .head {
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* line 445, ../sass/main.sass */
footer .wrap-footer1 .footer1 div.btn {
  display: inline-block;
  background: #002d66;
  color: #fff;
  font-size: 24px;
  height: 45px;
  line-height: 45px;
  padding: 0px 24px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  text-transform: uppercase;
}
/* line 455, ../sass/main.sass */
footer .wrap-footer1 .footer1 div.btn:hover {
  color: #fff;
}
/* line 457, ../sass/main.sass */
footer .wrap-footer1 .footer1 span {
  display: inline-block;
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px 25px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
}
/* line 466, ../sass/main.sass */
.footer2 {
  background: #e5e5e5;
  height: 80px;
  line-height: 80px;
}
.footer2{
    font-size: 0;
}
.footer2 .inner{
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer2 a{
    color: #000;
    text-decoration: none;
}
.footer2 .left,
.footer2 .right{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
}
.footer2 .left{
    text-align: left;
}
.footer2 .right{
    text-align: right;
}
/* line 471, ../sass/main.sass */
#undefined-sticky-wrapper {
  position: absolute;
}

/* line 474, ../sass/main.sass */
#top-link a {
  display: block;
  width: 100px;
  position: absolute;
  bottom: 0px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #cbcbcb;
  text-decoration: none !important;
}

/* line 487, ../sass/main.sass */
#top-link {
  cursor: pointer;
  top: 0px;
  bottom: 0px;
  position: fixed;
  z-index: 999;
  width: 128px;
  opacity: 0.5;
  background: url("../images/top-page.png") center center no-repeat;
}
@media (max-width: 1200px) {
  /* line 487, ../sass/main.sass */
  #top-link {
    display: none !important;
  }
}

/* line 499, ../sass/main.sass */
#top-link:hover {
  opacity: 1;
}

/* line 504, ../sass/main.sass */
.st-menu img {
  max-width: 100%;
}
/* line 506, ../sass/main.sass */
.st-menu h2 {
  font-size: 21px !important;
  color: #000 !important;
  margin: 0 0 25px 0 !important;
  padding: 0 !important;
}
/* line 511, ../sass/main.sass */
.st-menu p {
  font-size: 14px;
  color: #000;
  margin: 20px 0px;
  padding: 0;
}
/* line 516, ../sass/main.sass */
.st-menu .wrap-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  display: table;
}
@media screen and (max-width: 960px) {
  /* line 516, ../sass/main.sass */
  .st-menu .wrap-head {
    height: 415px;
  }
}
/* line 525, ../sass/main.sass */
.st-menu .wrap-head .head {
  display: table-cell;
  vertical-align: bottom;
}
/* line 528, ../sass/main.sass */
.st-menu .wrap-head .head h2 {
  font-family: "Play" !important;
  position: relative !important;
  font-size: 21px !important;
  color: #fff !important;
  margin: 0px 55px 45px 55px !important;
  z-index: 3 !important;
  text-shadow: 0px 0px 5px #000 !important;
}
@media screen and (max-width: 960px) {
  /* line 528, ../sass/main.sass */
  .st-menu .wrap-head .head h2 {
    font-size: 14px;
    margin: 0px 15px 45px 15px;
  }
}
/* line 539, ../sass/main.sass */
.st-menu > .close {
  position: absolute;
  top: 15px;
  right: 55px;
  background: url("../images/cross.png") 0 0 no-repeat;
  background-size: contain;
  height: 35px;
  width: 35px;
  cursor: pointer;
  z-index: 3;
  opacity: 1;
}
@media screen and (max-width: 960px) {
  /* line 539, ../sass/main.sass */
  .st-menu > .close {
    right: 15px;
  }
}
/* line 552, ../sass/main.sass */
.st-menu > .close-black {
  background: url("../images/cross2.png") 0 0 no-repeat;
  background-size: contain;
}
/* line 555, ../sass/main.sass */
.st-menu > .slider {
  height: 110px;
  margin: -40px -55px 50px -55px;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  /* line 555, ../sass/main.sass */
  .st-menu > .slider {
    margin: -40px -15px 15px -15px;
  }
}
/* line 561, ../sass/main.sass */
.st-menu > .slider .wrap-slider {
  height: 100px;
}
/* line 563, ../sass/main.sass */
.st-menu > .slider .wrap-slider .slider {
  height: 110px;
  opacity: 0.7;
}
/* line 566, ../sass/main.sass */
.st-menu > .slider .slick-list {
  top: 0px;
}
/* line 568, ../sass/main.sass */
.st-menu > .slider .slick-track {
  background: #000;
}
/* line 570, ../sass/main.sass */
.st-menu > .slider .slick-prev, .st-menu > .slider .slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  font-size: 0;
  width: 36px;
  height: 35px;
  border: 0;
  z-index: 3;
}
/* line 580, ../sass/main.sass */
.st-menu > .slider .slick-prev:focus, .st-menu > .slider .slick-next:focus {
  outline: 0;
}
/* line 582, ../sass/main.sass */
.st-menu > .slider .slick-prev {
  background: url("../images/prev.png") 0 0 no-repeat;
  left: 55px;
}
@media screen and (max-width: 600px) {
  /* line 582, ../sass/main.sass */
  .st-menu > .slider .slick-prev {
    left: 15px;
  }
}
/* line 587, ../sass/main.sass */
.st-menu > .slider .slick-prev.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* line 602, ../sass/main.sass */
.st-menu > .slider .slick-next {
  background: url("../images/next.png") 0 0 no-repeat;
  right: 55px;
}
@media screen and (max-width: 600px) {
  /* line 602, ../sass/main.sass */
  .st-menu > .slider .slick-next {
    right: 15px;
  }
}
/* line 607, ../sass/main.sass */
.st-menu > .slider .slick-next.bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/* line 622, ../sass/main.sass */
.st-menu > .slider .slick-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
/* line 627, ../sass/main.sass */
.st-menu > .slider .slick-dots li {
  display: inline-block;
  margin: 0px 5px;
}
/* line 630, ../sass/main.sass */
.st-menu > .slider .slick-dots li button {
  height: 13px;
  width: 13px;
  font-size: 0;
  background: #fff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
/* line 638, ../sass/main.sass */
.st-menu > .slider .slick-dots li button:focus {
  outline: 0;
}
/* line 641, ../sass/main.sass */
.st-menu > .slider .slick-dots li.slick-active button {
  background: #008c6e;
}

@media (max-width: 1200px) {
  /* line 645, ../sass/main.sass */
  header .background-video .grid .wrap-box .box a, header .block-portfolio .grid .wrap-box .box a {
    margin-bottom: 0px;
  }
}
/* line 649, ../sass/main.sass */
.callback-form, .contact-form {
  display: none;
}

/* line 651, ../sass/main.sass */
#callback-form, #contact-form {
  padding: 30px;
}
/* line 653, ../sass/main.sass */
#callback-form input.error, #contact-form input.error {
  border: red solid 1px;
}
/* line 655, ../sass/main.sass */
#callback-form label.error, #contact-form label.error {
  font-size: 12px;
  color: red;
}

/* line 659, ../sass/main.sass */
#cboxLoadedContent .alert {
  margin: 30px;
}

/* line 661, ../sass/main.sass */
#cboxClose {
  position: fixed;
  background: url(../images/controls.png) no-repeat top center;
}
