/* line 1, ../sass/page.sass */
.container-box {
  position: relative;
  min-height: 100%;
  height: 100%;
}
/* line 5, ../sass/page.sass */
.container-box header {
  min-height: 100%;
}
/* line 7, ../sass/page.sass */
.container-box header .container {
  padding-bottom: 355px;
  background: #fff;
}
/* line 10, ../sass/page.sass */
.container-box footer {
  margin-top: -355px;
}

/* line 13, ../sass/page.sass */
.map {
  height: 450px;
  margin-bottom: 40px;
}
