{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.our_work.h1_create'|trans({}, 'menu') }}</h1>

    {{ form(form, { 'style': 'horizontal', attr: {novalidate: 'novalidate'} }) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_our_work_index') }}">
                {{ 'backend.our_work.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
