{% if element.slider|length > 0 %}
    <div class="close"></div>
    <div class="slider">
        {% for slider in element.slider %}
            <div class="wrap-slider">
                <div class="slider" style="background: url({{ image(slider.img).cropResize(800) }}) center center no-repeat; background-size: cover;">
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="wrap-head">
        <div class="head">
            <h1>{{ element.title }}</h1>
        </div>
    </div>
{% else %}
    <div class="close close-black"></div>
    <h1>{{ element.title }}</h1>
{% endif %}

{{ element.text|raw }}