{% if portfolio.slider|length > 0 %}
    <div class="close"></div>
    <div class="slider">
        {% for slider in portfolio.slider %}
            <div class="wrap-slider">
                <div class="slider" style="background: url({{ image(slider.img).cropResize(800) }}) center center no-repeat; background-size: cover;">
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="wrap-head">
        <div class="head">
            <h2>{{ portfolio.title }}</h2>
        </div>
    </div>
{% else %}
    <div class="close close-black"></div>
    <h2>{{ portfolio.title }}</h2>
{% endif %}
{{ portfolio.text|raw }}